@using Pronia.Areas.Admin.ViewModels.ProductViewModel;
@{
    ViewData["Title"] = "Create";
}
@model CreateProductViewModel

<div class="content-wrapper">
    <div class="row">


        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Product</h4>

                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="image">image</label>
                            <input asp-for="Image" class="form-control" placeholder="image">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="title">title</label>
                            <input asp-for="Name" class="form-control" placeholder="title">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input asp-for="Description" class="form-control" placeholder="Description">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="price">Price</label>
                            <input asp-for="Price" class="form-control" placeholder="Description">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                           <div class="form-group">
                            <label for="rating">rating</label>
                            <input asp-for="Rating" class="form-control" placeholder="Description">
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelectGender">Category</label>
<select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories">
                            @*    @foreach (Category category in ViewBag.Categories)
                                {
                                    <option value=@category.Id> @category.Name</option>
                                }*@
</select>

                        </div>

                        <button type="submit" class="btn btn-primary mr-2">Create</button>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

