@using Pronia.Areas.Admin.ViewModels.ProductViewModel;
@model ProductDetailViewModel;
@{
    ViewData["Title"] = "Detail";
}


<div class="content-wrapper">
    <div class="row">
        <div>
            <img src="~/assets/images/website-images/@Model.Image"/>
     
            <h4>Title:@Model.Price</h4>
            <h4>Rating:@Model.Rating</h4>
              <h4>CategoryName:@Model.CategoryName</h4>
            <h4>CreatedBy:@Model.CreatedBy</h4>
              <h4>Updatedby:@Model.UpdatedBy</h4>
            <h4>updatedate:@Model.UpdatedDate</h4>
            <h4>createdate:@Model.CreatedDate</h4>






            <h4>Description:@Model.Description</h4>
        </div>
        <div>
            <a class="btn btn-primary " asp-action="Index">go back </a>
        </div>
    </div>

</div>

